.container {
    background-color: rgb(235, 242, 233);
    font-family: Arial, sans-serif;
}

.edit{
    max-width: 700px;
    padding: 20px;
    background-color: rgba(247, 244, 246, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.edit .form-group{ 
    margin-bottom: 15px;
}

/* Alinhando os campos em colunas */
.form-row {
    display: flex;
    gap: 15px;
}

/* Faz com que os inputs ocupem metade da linha */
.form-group.col-md-6 {
    flex: 1;
}

.form-group.col-md-4 {
    flex: 1;
}

/* Estilizando os inputs */
.edit input,
.edit select,
.edit textarea{ 
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}