body {
    background-color: rgb(235, 242, 233);
}
.idex {
    width: 600px;
    padding: 20px;
    background-color: #f7f4f635;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.idex label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.idex input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.idex button {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.idex button:hover {
    background-color: #333;
}