body {
    background-color: rgb(235, 242, 233);
    font-family: Arial, sans-serif;
}
/* Estilizando os botões para seguir o padrão do sistema */
.btn-primary {
    background-color: #000 !important;
    border-color: #000 !important;
}

.btn-primary:hover {
    background-color: #333 !important;
    border-color: #333 !important;
}

.btn-info {
    background-color: #000 !important;
    border-color: #000 !important;
}

.btn-info:hover {
    background-color: #333 !important;
    border-color: #333 !important;
}

.btn-secondary {
    background-color: #000 !important;
    border-color: #000 !important;
}

.btn-secondary:hover {
    background-color: #333 !important;
    border-color: #333 !important;
}
